@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    
    
  }
  
  .about-text {
    flex: 1;
    padding-right: 4rem;
    color: white;
  }
  
  .profile-picture img {
    background-color: orange;
    height: auto;
    width: 50%;
    margin-right: 4rem;
    mix-blend-mode: lighten;
    border-radius: 39% 61% 50% 50% / 56% 21% 79% 44% ;
    margin-left: 7rem;
  }

  /*Profile Picture animation*/
  .profile-picture img {
    animation: zoom-in-zoom-out 5s ease infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  .profile-picture img:hover {
    background-color: rgb(203, 113, 3);
    border-radius: 65% 35% 25% 75% / 75% 43% 57% 25%;
  }
  
  .about-text h2 {
    color: orange;
    margin-bottom: 3rem;
  }
  
  .about-text p {
    font-size: 20px;
  }
  
  /* Big screens */
  @media screen and (min-width: 992px) {
    /* If needed some adjustment to bigger screens goes here*/
  }
  
  /* Medium screens */
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .about-container {
      margin-left: 1rem; 
    }
  
    .about-text {
      padding-right: 1rem; 
    }
  }
  
  /* Small screens */
  @media screen and (max-width: 767px) {
    .about-container {
      flex-direction: column; 
      padding: 1rem; 
      margin-left: auto; 
      align-items: center;

    }
  
    .profile-picture {
      width: 100%;
      margin-right: 0; 
      margin-bottom: 1rem; 
      
    }
    .profile-picture img {
      margin-left: 5rem;
      margin-bottom: 5rem;
    }
    .about-text {
      margin-left: 1rem;
    }
  }
  