@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
    font-family: "Quicksand", sans-serif;
}
header {
    color: white;
    padding: 20px 0;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}



.title {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;

}

.navbar .title {
    color: white;
    font-size: 26px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 2rem;
    padding-right: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar-toggler {
    border: none;
    background-color: white;
    cursor: pointer;
    color: white;
    
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3e%3cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3e%3c/svg%3e');
  width: 30px;
  height: 30px;
  color: white;
}

.nav-links {
    display: none;
    color: white;
}

.nav-links.show {
    display: flex;
}

.navbar .navbar-nav .nav-link {
    color: white !important;
}
.navbar-brand {
    color: orange;
}

/* Big Screens Media Query */
@media screen and (min-width: 992px) {
    .title {
        margin-left: 2rem;
        font-size: 26px;
    }
    .navbar {
        padding: 0 20px;
    }

    nav ul li {
        margin-right: 2rem;
        padding-right: 2rem;
    }
    .navbar-toggler {
        display: none;
    }
    .nav-links {
        display: flex;
    }
}

/* Medium Screens Media Query */
@media screen and (min-width: 991px) and (min-width: 768px) {
    .title {
        margin-left: 1rem;
        font-size: 20px;
    }
    .navbar {
        padding: 0 10px;
    }
    nav ul li {
        margin-right: 1rem;
        padding-right: 1rem;
    }
    .navbar-toggler {
        display: block;
    }

    .nav-links {
        display: none;
    }
}

/* Small Screens Media Query */
@media screen and (min-width: 767px) {
    .title {
        margin-left: 0.5rem;
        font-size: 18px;
    }
    .navbar {
        padding: 0 5px;
    }

    nav ul li {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
    }
    .navbar-toggler {
        display: block;
    }
    .nav-links {
        display: none;
    }
}