@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
*{
  font-family: "Quicksand", sans-serif;
}

.skills-container {
    text-align: center;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: auto;
    
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem; /* justera här mellanskillnad för varje icon*/
    
}

.skills-icons img {
  width: 50%;
  height: 50%;
}


.skills-container h2 {
    color: orange;
    font-size: 36px;
    margin-bottom: 20vh;
    margin-right: 5rem;
    margin-top: 15vh;  
}

/*Big Screen*/
@media screen and (min-width: 992px) {
    .skills-icons {
      gap: 2rem;
    }
  }

  /* Medium Screen*/
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .skills-icons {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  }

  /*Small Screen*/
  @media screen and (max-width: 767px) {
    .skills-icons {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .skills-icons img {
      width: 70%;
      height: 70%;
    }
  
    .skills-container h2 {
      font-size: 24px;
      margin-right: 3rem;
    }
  }